﻿@model IEnumerable<CMS.Application.ViewModels.MenuViewModel>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            @foreach (var item in Model)
            {
                <!-- co item con -->
                if (item.Childrens.Count() > 0)
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="@item.Icon"></i> <span> @item.Name</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @foreach (var itemChild in item.Childrens)
                            {
                                <li><a href="@itemChild.Url"><i class="@itemChild.Icon"></i> @itemChild.Name</a></li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li><a href="@item.Url"><i class="@item.Icon"></i> <span> @item.Name</span></a></li>
                }
            }
            <li><a href="javascript: sys.ClearCacheUI()"><i class="fa fa-circle"></i> <span> Xóa cache UI</span></a></li>
            @*<li>
            <a href="../widgets.html">
                <i class="fa fa-th"></i> <span>Widgets</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green">new</small>
                </span>
            </a>
        </li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!--
<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
    <div class="nav-top flex-grow-1">
        <div class="container d-flex flex-row h-100">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top">
                @*<a class="navbar-brand brand-logo" href="../../index.html"><img src="../../images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../images/logo-mini.svg" alt="logo" /></a>*@
            </div>
            <div class="navbar-menu-wrapper align-items-center text-center">
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="width:200px">


                <ul class="navbar-nav navbar-nav-right mr-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <span class="nav-profile-text">@User.Identity.Name</span>
                                <img src="~/Content/assets/flare/images/faces/face1.jpg" class="rounded-circle" alt="profile" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <a class="dropdown-item" href="/Account/Manage">
                                    <span class="dropdown-icon oi oi-person"></span> Tài khoản
                                </a>
                                <a class="dropdown-item" href="/Account/LogOff">
                                    <span class="dropdown-icon oi oi-account-logout"></span> Đăng xuất
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Hướng dẫn sử dụng</a>
                            </div>
                        </li>
                    }
                </ul>
                <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu text-white"></span>
                </button>
            </div>
        </div>
    </div>
</nav>

-->
