﻿@model IEnumerable<CMS.Application.ViewModels.CMS.PromotionViewModel>
@using Newtonsoft.Json
@using CMS.Application.ViewModels.CMS

@*<div class="land-full land-3-cus-full" style="margin-bottom:50px">
    <div class="land-container">
        <div class="land-3-cus-tit">
            <h2 style="font-size:22px">Mã giảm giá hôm nay @DateTime.Now.ToString("dd/MM/yyyy")</h2>
        </div>
        @foreach (var item in Model)
        {
            <div class="land-3-cus-full">
                <div class="test-box">
                    <div class="land-event-date">
                        <div class="land-event-date-left">
                            <img src="@item.Image" alt="" width="64">
                        </div>
                        <div style="float: left;margin-left: 20px;font-size: 15px;height: 70px; max-width: 800px;text-align:left">
                            <h4 style="min-width:800px">
                                @item.PromotionName
                            </h4>
                            <h5>
                                Hạn sử dụng: @item.EndTime.ToString("dd/MM/yyyy")
                            </h5>
                        </div>
                        @if (!String.IsNullOrEmpty(item.PromotionCode))
                        {
                            var PromotionCodeJson = JsonConvert.DeserializeObject<List<Promotion_Coupon>>(item.PromotionCode);
                        <div>
                            @foreach (var itemCode in PromotionCodeJson)
                            {
                                <a class="promotion_a" title="@itemCode.coupon_desc"><span class="promotion_span">@itemCode.coupon_code</span></a>
                            }
                        </div>

                        }
                        <div style="float:right">
                            <a href="@item.Aff_Link" target="_blank" id="btn_view">Xem Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@

